html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	background: lightgray;
}

button,
input[type="checkbox"] {
  outline: none;
}

#chatapp {
	background: rgba(163,38,41,1);
	margin: 100px auto;
	border: 1px solid #ccc;
	position: relative;
	height: auto;
	min-height: 280px;
	width: 350px;
	border-radius: 8px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
}


#chatapp h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 7px 10px;
	color: rgba(255, 255, 255, 1);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

#chatapp #msg-container{
	min-height: 150px;
	background-color: rgb(223,223,223);
    position:relative;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    border:2px solid #fff;
    padding-top: 10px;
}

#chatapp #msg-container:after,
#chatapp #msg-container:before {
    width:0;
    height:0;
    content:"";
    display:block;
    position:absolute;
    top:100%;
    right:1em;
}

#chatapp #msg-container:after {
    border-top:35px solid rgb(223,223,223);
    border-right:35px solid transparent;
    /*border-right:10px solid transparent;*/
    z-index:1;
    margin-top:0px;
    margin-right: 5px;
}

#chatapp #msg-container:before {
	border-top: 40px solid #fff;
	/* border-left: 40px solid transparent; */
	border-right: 40px solid transparent;
	margin-top: 2px;
	margin-right: 3px;
	z-index: 0;
	border-radius: 0px 0px 0px 10px;
}

#chatapp #msg-container .greeting{
	color: rgb(102,102,102);
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	padding: 0px 20px;
	margin-top: 14px;
}

#chatapp .msg-item{
	padding: 8px 15px;
	margin-top: -20px;
}

#chatapp .msg-item .sender-div{
	background: rgb(238,238,238);
	border-radius: 5px;
	padding: 7px;
	word-wrap: break-word;
}

#chatapp #send-msg-button:hover{
	cursor: pointer;
}

#chatapp .msg-item span{
	font-weight: bold;
	font-size: 16px;
	color : #000;
	margin-right: 8px;
	display: inline-block;
}

#chatapp #control-box{
	margin-bottom: 15px;
}

#chatapp #control-box a{
	color : #fff;
	font-size: 18px;
	font-weight: bold;
	float: right;
	margin-top: 25px;
	margin-right:15px;
}

#chatapp #control-box input{
	height: 25px;
	margin-top: 20px;
	margin-left: 24px;
	width: 220px;
}

#chatapp #control-box button{
	color: white;
	border: 1px solid white;
	font-weight: bold;
	font-size: 16px;
	padding: 3px;
	width: 55px;
	vertical-align: middle;
	margin-bottom: 2px;
}