<h1>Rick Profile</h1>
<p>
Bachelor<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduated from University of Wollongong with Distinction and Dean Scholarship with WAM(weighted average mark) 80.  My major is enterprise system which specializing different kinds of programming languages. C++ as a core subject which I have grilled in Socket programming, thread, STL, etc, also applying C++ to do some cryptography involving public pricate key cryptography, digital signature, DES, man-in-the middle-attack, etc. Java comes to my favourite programming language that going through my whole university study. Main technology learned in JAVA are CORBA, JSP Servlet, EJB with JPA, XML parsing(SAX, StAX, DOM), CosTrading, CosNotification service, Hibernate ORM, Stucts(1 & 2), etc
</p>
<p>
Master<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduated from University of Sydney with major software engineering. Continuing polishing my skills in JAVA involving technologies like Struts2, Hibernate & Spring framework, Cloud computing using(GFS, MapReduce). 
</p>
<p>
Commercial industry<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I have been working with php for 2 years in my commercial work. Using from Zend framework to Symfony. Working with big clients like Webjet, James Hardie, Airoffice, Real estate, etc. Maintaining their websites, building new functionalities, etc, as a software engineer, I have to deal with backend database issues, front page javascript errors, css issues, compatibility issues, system design, server maintenance, etc. Recently I have been really interesting in front end development using Backbone, Node, Mongodb some cool stuff.
<ul>
	<li>JavaSE(grilled)
	<li>Javascript(backbone.js, underscore.js, jquery, Ext.js, Jquery Mobile, Sencha Touch, node.js)
	<li>HTML5(Geolocation, file reader, localstorage, websql) + bootstrap
	<li>PHP(Zend framework, Symfony1,4, Symfony2)
	<li>Cloud computing(MapReduce)
	<li>C++ (STL, libgd, sqlite3,etc)
	<li>Perl
	<li>Oracle db and Mysql(InnoDB and MyIsam)
	<li>J2EE(stucts 2 Hibernate Spring EJB JSP and Servlet) CORBA, CosTrading, CosNotification, JPA etc
	<li>Mark-up languages(XSL XSLT XQuery DTD XmlSchema Latex) xml etc
	<li>Mobile development(Jquery mobile and Secha touch framework co-operating with phonegap)
	<li>Apache + LAMP + git + subversion 
	<li>Scrum Agile development
</ul>
</p>