<ul class="parent">
	<li>
		AMC
	</li>

	<li>
		Beierdorf
	</li>

	<li class="hasChild">
		<label class="hasChildLabel"><a href="#">DST</a></label>
		<ul class="level1">
			<li class="hasChild">
				<label class="hasChildLabel">DST Level 1</label>
				<ul class="level2">
					<li>
						<label>DST Level 2</label>
					</li>
					<li>
						<label>DST Level 2</label>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="level1">
			<li class="hasChild">
				<label class="hasChildLabel">DST Level 1</label>
				<ul class="level2">
					<li>
						<label>DST Level 2</label>
					</li>
					<li>
						<label>DST Level 2</label>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	<li class="hasChild">
		<label class="hasChildLabel">Electrolux</label>
	</li>

	<li>
		Fox
	</li>

	<li>
		Galderma
	</li>

	<li>
		Investa
	</li>

	<li>
		MCN
	</li>

	<li class="hasChild">
		<label class="hasChildLabel">Merisant</label>
		<ul class="level1">
			<li class="hasChild">
				<label class="hasChildLabel">Equal - APAC</label>
				<ul class="level2">
					<li>
						<label>Design</label>
					</li>
					<li>
						<label>Stage</label>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	<li class="hasChild">
		<label class="hasChildLabel">Orchard</label>
	</li>

	<li class="hasChild">
		<label class="hasChildLabel">Pfizer</label>
	</li>

	<li class="hasChild">
		<label class="hasChildLabel">Variety</label>
	</li>

	<li>
		Video Ezy
	</li>
</ul>